body {
    background-color: ghostwhite;

}

h1 {
    color: black;
    text-align: center;
    font-size: 500%;

}

p {
    position:absolute;
    top: 1000px;
    left:10px;
    font-size: 300%;
}

body, html {
    height: 100%;
}

button1 {
    height: 50px;
    width: 200px;
    background-color: white; /* Green */
    border: 3px solid darkred;
    color: black;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    position: absolute;
    top: 900px;
    left: 75px;
}

button2 {
    height: 50px;
    width: 200px;
    background-color: white; /* Green */
    border: 3px solid darkred;
    color: black;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    position: absolute;
    top: 900px;
    left: 575px;
}

button3 {
    height: 50px;
    width: 200px;
    background-color: white; /* Green */
    border: 3px solid darkred;
    color: black;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    position: absolute;
    top: 900px;
    left: 1075px;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("ApocolypseRocksPhoto.jpg");
    /* Set a specific height */
    height: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position:center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: -140px;
    left:0px;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
