body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(GratefulIntro1.JPG);
    background-size: 100% 100%;
}

h1 {
    background-size: contain;
    color: white;
    text-align: center;
    font-size: 500%;
}


p {
    text-align:center;
    color: white;
    font-size: 150%;
    position:relative;
    top: 10%;
    margin-left:25%;
    margin-right:25%;
}

p2 {
    text-align: left;
    color: white;
    font-size: 150%;
    position: relative;
    top: 10%;
    margin-left:25%;
}

body, html {
    height: 100%;
}
.button{
    text-align: center;
}

button1 {
    height: 25%;
    width: 125%;
    background: darkred;
    background-size: contain;
    border: 3px solid black;
    color: white;
    padding: 2% 8%;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    position:relative;
    top:-25%;
}

stickerButton {
    height: 15%;
    width: 15%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(ironPatches10.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid black;
    color: white;
    padding: 6% 8%;
    text-align: center;
    text-decoration: none;
    font-size: 250%;
}

pinButton {
    height: 15%;
    width: 15%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(pins2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid black;
    color: white;
    padding: 6% 8%;
    text-align: center;
    text-decoration: none;
    font-size: 250%;
}

patchButton {
    height: 15%;
    width: 15%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Patches5.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid black;
    color: white;
    padding: 6% 8%;
    text-align: center;
    text-decoration: none;
    font-size: 250%;
}


crystalButton {
    height: 15%;
    width: 15%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(QuartzBox6.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid black;
    color: white;
    padding: 6% 8%;
    text-align: center;
    text-decoration: none;
    font-size: 250%;
}

C1Button {
    height: 15%;
    width: 15%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(QuartzBox6.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid black;
    color: white;
    padding: 6% 8%;
    text-align: center;
    text-decoration: none;
    font-size: 250%;
}

addToCart {
    height: 15%;
    width: 15%;
    background: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid black;
    color: white;
    padding: 1% 2%;
    text-align: center;
    font-size: 100%;
    position:relative;
    left:-17%;
    top:35%;
}

emptyCart {
    height: 15%;
    width: 15%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(cart.jpg) white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid black;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
}

MiscButton {
    height: 15%;
    width: 15%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(FannyPack4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid black;
    color: white;
    padding: 6% 8%;
    text-align: center;
    text-decoration: none;
    font-size: 250%;
}


checkoutButton {
    height: 15%;
    width: 15%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(cart.jpg) white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid black;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
}

.buttonCheckout {
    text-align: right;
    position: relative;
    top: 0%;
}
.button2 {
    text-align: center;
    position:relative;
    top: 16%;



}

.button3 {
    text-align: center;
    position: relative;
    top: 18%;
}


.target {
    text-align:center;
    top:60%;
}

.checkout{
    text-align:center;
    margin-top: 10%;
}


.emailForm {
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    margin-top: 4%;
}
/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /*Set a specific height */
    height: 10%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    position: center;
    top: -115px;
    left: 0px;
}

/* Place text in the middle of the image */
/*.hero-text {
    text-align: center;
    position: relative;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}*/

